.red{
    background-color: red;
    padding:10px;
    margin:10px;
}
.green{
    background-color: greenyellow;
    padding: 10px;
    margin: 10px;
}
.new{
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
}